<mat-tab-group>
  <mat-tab label="New Stories">
    <br />
    <ng-container *ngFor="let newStory of newStories">
      <mat-card>
        <mat-card-title>
          <a href="{{ newStory.url }}">
            {{ newStory.title }}
          </a>
        </mat-card-title>
        <mat-card-subtitle>Created by:{{ newStory.by }}</mat-card-subtitle>
        <mat-card-subtitle
          >Date:{{ getHumanTypeDate(newStory.time) }}</mat-card-subtitle
        >
      </mat-card>
      <br />
    </ng-container>
  </mat-tab>

  <mat-tab label="Top Stories">
    <ng-container *ngFor="let topStory of topStories">
      <br />
      <mat-card>
        <mat-card-title>
          <a href="{{ topStory.url }}">
            {{ topStory.title }}
          </a>
        </mat-card-title>
        <mat-card-subtitle>Created by: {{ topStory.by }}</mat-card-subtitle>
        <mat-card-subtitle
          >Date: {{ getHumanTypeDate(topStory.time) }}</mat-card-subtitle
        >
      </mat-card>
      <br />
    </ng-container>
  </mat-tab>
</mat-tab-group>
